.ewd-otp-status-message {
  margin-bottom: 3px;
}
.ewd-otp-status-time {
  margin-bottom: 3px;
}
.ewd-otp-tracking-results {
  margin-bottom: 9px;
}
.mb-6 {
  margin-bottom: 6px;
}
.ewd-otp-bold {
  font-weight: 800;
}